<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Health Appointment</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>healthAppointment.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>healthAppointment.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoctorLogin</display-name>
    <servlet-name>DoctorLogin</servlet-name>
    <servlet-class>healthAppointment.DoctorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorLogin</servlet-name>
    <url-pattern>/DoctorLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientLogin</display-name>
    <servlet-name>PatientLogin</servlet-name>
    <servlet-class>healthAppointment.PatientLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientLogin</servlet-name>
    <url-pattern>/PatientLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientRegister</display-name>
    <servlet-name>PatientRegister</servlet-name>
    <servlet-class>healthAppointment.PatientRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegister</servlet-name>
    <url-pattern>/PatientRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDoctor</display-name>
    <servlet-name>AddDoctor</servlet-name>
    <servlet-class>healthAppointment.AddDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDoctor</servlet-name>
    <url-pattern>/AddDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDoctor</display-name>
    <servlet-name>DeleteDoctor</servlet-name>
    <servlet-class>healthAppointment.DeleteDoctor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDoctor</servlet-name>
    <url-pattern>/DeleteDoctor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPrescriptions</display-name>
    <servlet-name>AddPrescriptions</servlet-name>
    <servlet-class>DoctorPojo.AddPrescriptions</servlet-class>
  </servlet>
  
  <servlet>
    <description></description>
    <display-name>BookAppointment</display-name>
    <servlet-name>BookAppointment</servlet-name>
    <servlet-class>healthAppointment.BookAppointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookAppointment</servlet-name>
    <url-pattern>/BookAppointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPrescription</display-name>
    <servlet-name>AddPrescription</servlet-name>
    <servlet-class>healthAppointment.AddPrescription</servlet-class>
  </servlet>
 
  <servlet>
    <description></description>
    <display-name>ForgetPassword</display-name>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>healthAppointment.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetDoctorPassword</display-name>
    <servlet-name>ForgetDoctorPassword</servlet-name>
    <servlet-class>healthAppointment.ForgetDoctorPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetDoctorPassword</servlet-name>
    <url-pattern>/ForgetDoctorPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPatientPassword</display-name>
    <servlet-name>ForgetPatientPassword</servlet-name>
    <servlet-class>healthAppointment.ForgetPatientPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPatientPassword</servlet-name>
    <url-pattern>/ForgetPatientPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPrescript</display-name>
    <servlet-name>AddPrescript</servlet-name>
    <servlet-class>healthAppointment.AddPrescript</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPrescript</servlet-name>
    <url-pattern>/AddPrescript</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatus</display-name>
    <servlet-name>UpdateStatus</servlet-name>
    <servlet-class>healthAppointment.UpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus</servlet-name>
    <url-pattern>/UpdateStatus</url-pattern>
  </servlet-mapping>
</web-app>